<template>
  <div>
    <form @submit.prevent="save()">
      <h1>Create part</h1>
      <div v-if="error" class="alert alert-danger">Failed!</div>
      <app-input v-model="name" label="Name" required :error="errors.name" :disabled="loading" />
      <app-input
        v-model="manufacturer"
        label="Manufacturer"
        required
        :error="errors.manufacturer"
      />
      <app-input v-model="model" required label="Model" :error="errors.model" :disabled="loading" />
      <app-input v-model="color" label="Color" :error="errors.color" :disabled="loading" />
      <app-input
        v-model="year"
        required
        label="Year"
        type="number"
        :error="errors.year"
        :disabled="loading"
      />
      <app-input
        v-model="price"
        required
        label="Price"
        type="number"
        :error="errors.price"
        :disabled="loading"
      />
      <div>
        <button @click.prevent="$router.back()" class="btn btn-outline-secondary">Cancel</button>
        <button type="submit" class="btn btn-primary ml-1">Save</button>
      </div>
    </form>
  </div>
</template>

<script>
import AppInput from '../components/input.vue'
import { mapActions, mapGetters } from 'vuex'
import { mapValues } from 'lodash-es'

export default {
  components: { AppInput },
  props: ['value'],
  data() {
    return {
      name: '',
      manufacturer: '',
      model: '',
      color: '',
      year: '',
      price: '',
    }
  },
  async beforeDestroy() {
    await this.clear()
  },
  computed: {
    ...mapGetters('create', ['loading', 'error']),
    errors() {
      return this.error && this.error.errors
        ? mapValues(this.error.errors, (value) => value.message)
        : {}
    },
  },
  methods: {
    ...mapActions('create', ['request', 'clear']),
    async save() {
      const { name, manufacturer, model, color, year, price } = this.$data
      if (await this.request({ data: { name, manufacturer, model, color, year, price } })) {
        this.$router.push({ name: 'list' })
      }
    },
  },
}
</script>
