<template>
  <div>
    <div class="row align-items-center">
      <h1 class="col">Parts</h1>
      <div class="col-auto">
        <router-link :to="{ name: 'create' }" class="btn btn-primary">Add part</router-link>
      </div>
    </div>
    <div v-if="removeSuccess" class="alert alert-info">Remove success!</div>
    <app-filter v-model="filter" :options="sortOptions" />
    <app-list :list="list" />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { orderBy } from 'lodash-es'

import AppFilter from '../components/filter.vue'
import AppList from '../components/list.vue'

const sortOptions = {
  name_asc: { label: 'By name, asc', fields: ['name'], orders: ['asc'] },
  name_desc: { label: 'By name, desc', fields: ['name'], orders: ['desc'] },
  price_asc: { label: 'By price, asc', fields: ['price'], orders: ['asc'] },
  price_desc: { label: 'By price, desc', fields: ['price'], orders: ['desc'] },
}

export default {
  components: { AppFilter, AppList },
  data() {
    return {
      filter: { query: '', sortBy: 'price_asc' },
      sortOptions,
    }
  },
  methods: {
    ...mapActions('list', ['request', 'clear']),
    ...mapActions('remove', { clearRemove: 'clear' }),
  },
  computed: {
    ...mapGetters('list', ['loading', 'data']),
    ...mapGetters('remove', { removeSuccess: 'data' }),
    list() {
      const data = this.data ? [...this.data] : []
      const { fields, orders } = this.sortOptions[this.filter.sortBy]
      const query = this.filter.query.trim().toLowerCase()

      return orderBy(
        data.filter((x) => {
          if (!query) return true

          return (
            x.name.toLowerCase().includes(query) ||
            x.manufacturer.toLowerCase().includes(query) ||
            x.model.toLowerCase().includes(query)
          )
        }),
        fields,
        orders,
      )
    },
  },
  async mounted() {
    await this.request()
  },
  async beforeDestroy() {
    await this.clear()
    await this.clearRemove()
  },
}
</script>
