<template>
  <div>
    <p class="text-center">Are you sure?</p>
    <div class="row justify-content-center">
      <div class="col-auto">
        <router-link
          :to="{ name: 'show', params: $route.params }"
          replace
          class="btn btn-outline-secondary"
          >Cancel</router-link
        >
      </div>
      <div class="col-auto">
        <button @click.prevent="remove()" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters('remove', ['data']),
  },
  watch: {
    data(value) {
      value && this.$router.replace({ name: 'list' })
    },
  },
  methods: {
    ...mapActions('remove', ['request', 'clear']),
    async remove() {
      await this.request({ id: this.$route.params.id })
    },
  },
}
</script>
