<template>
  <div>
    <div v-if="notFound">404 Not found!</div>
    <form v-else @submit.prevent="save()">
      <h1>Update part</h1>
      <div v-if="error" class="alert alert-danger">Failed!</div>
      <app-input v-model="name" label="Name" required :error="errors.name" :disabled="loading" />
      <app-input
        v-model="manufacturer"
        label="Manufacturer"
        required
        :error="errors.manufacturer"
      />
      <app-input v-model="model" required label="Model" :error="errors.model" :disabled="loading" />
      <app-input v-model="color" label="Color" :error="errors.color" :disabled="loading" />
      <app-input
        v-model="year"
        required
        label="Year"
        type="number"
        :error="errors.year"
        :disabled="loading"
      />
      <app-input
        v-model="price"
        required
        label="Price"
        type="number"
        :error="errors.price"
        :disabled="loading"
      />
      <div class="row">
        <div class="col">
          <button @click.prevent="$router.back()" class="btn btn-outline-secondary">Cancel</button>
          <button type="submit" class="btn btn-primary ml-1">Save</button>
        </div>
        <div class="col-auto">
          <router-link :to="{ name: 'delete' }" replace class="btn btn-danger">Delete</router-link>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import AppInput from '../components/input.vue'
import { mapActions, mapGetters } from 'vuex'
import { mapValues } from 'lodash-es'

export default {
  components: { AppInput },
  props: ['value'],
  data() {
    return {
      name: '',
      manufacturer: '',
      model: '',
      color: '',
      year: '',
      price: '',
    }
  },
  async beforeDestroy() {
    await this.clearShow()
    await this.clearUpdate()
  },
  watch: {
    $route: {
      immediate: true,
      async handler(route) {
        if (await this.requestShow({ id: route.params.id })) {
          this.$nextTick(() => {
            Object.assign(this, this.data)
          })
        }
      },
    },
  },
  computed: {
    ...mapGetters('show', {
      loadingShow: 'loading',
      data: 'data',
      notFound: 'error',
    }),
    ...mapGetters('update', {
      loadingUpdate: 'loading',
      error: 'error',
    }),
    loading() {
      return this.loadingShow || this.loadingUpdate
    },
    errors() {
      return this.error && this.error.errors
        ? mapValues(this.error.errors, (value) => value.message)
        : {}
    },
  },
  methods: {
    ...mapActions('show', {
      requestShow: 'request',
      clearShow: 'clear',
    }),
    ...mapActions('update', {
      requestUpdate: 'request',
      clearUpdate: 'clear',
    }),
    async save() {
      const { name, manufacturer, model, color, year, price } = this.$data
      if (
        await this.requestUpdate({
          id: this.$route.params.id,
          data: { name, manufacturer, model, color, year, price },
        })
      ) {
        this.$router.push({ name: 'list' })
      }
    },
  },
}
</script>
