<template>
  <form class="row" @submit.prevent="emitChange()">
    <div class="form-group col">
      <label for="query">Filter</label>
      <input id="query" type="search" v-model="query" class="form-control" />
    </div>
    <div class="form-group col-12 col-sm-4 col-md-auto">
      <label for="sort">Sort</label>
      <select v-model="sort" class="custom-select">
        <option v-for="(option, value) in options" :key="value" :value="value">{{
          option.label
        }}</option>
      </select>
    </div>
  </form>
</template>

<script>
export default {
  name: 'app-filter',
  props: ['value', 'options'],
  computed: {
    query: {
      get() {
        return this.value.query
      },
      set(query) {
        this.$emit('input', { ...this.value, query })
      },
    },
    sort: {
      get() {
        return this.value.sortBy
      },
      set(sortBy) {
        this.$emit('input', { ...this.value, sortBy })
      },
    },
  },
  watch: {
    query() {},
    sortBy() {},
  },
  methods: {
    emitChange() {
      this.$emit('input', { ...this.value })
    },
  },
}
</script>
