<template>
  <div class="form-group">
    <label :for="id">
      {{ label }}
      <span v-if="required" class="text-danger">*</span>
    </label>
    <input
      v-model="_value"
      class="form-control"
      :type="type"
      :class="{ 'is-invalid': error }"
      :disabled="disabled"
    />
    <div v-if="error" class="invalid-feedback">{{ error }}</div>
  </div>
</template>

<script>
import { uniqueId } from 'lodash-es'

export default {
  name: 'app-input',
  props: {
    value: {},
    type: { default: 'text' },
    label: {},
    error: {},
    disabled: {},
    required: { type: Boolean },
  },
  computed: {
    _value: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      },
    },
  },
  data() {
    return {
      id: uniqueId('input-'),
    }
  },
}
</script>
