<template>
  <div class="list-group">
    <router-link
      v-for="item in list"
      :key="item._id"
      :to="{ name: 'show', params: { id: item._id } }"
      class="list-group-item list-group-item-action"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ item.name }}</h5>
        <small>{{ item.price }}&euro;</small>
      </div>
      <p class="mb-1">
        {{ item.manufacturer }}
        {{ item.model }}
        {{ item.color }}
        {{ item.year }} m.
      </p>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'app-list',
  props: ['list'],
}
</script>
