<template>
  <div class="form-group">
    <label :for="id">
      {{ label }}
      <span v-if="required" class="text-danger">*</span>
    </label>
    <select
      v-model="_value"
      class="custom-select"
      :class="{ 'is-invalid': error }"
      :disabled="disabled"
    >
      <option v-for="(option, value) in options" :key="value" :value="value">{{
        option.label
      }}</option>
    </select>
    <div v-if="error" class="invalid-feedback">{{ error }}</div>
  </div>
</template>

<script>
import { uniqueId } from 'lodash-es'

export default {
  name: 'app-select',
  props: {
    value: {},
    label: {},
    options: {},
    error: {},
    disabled: {},
    required: { type: Boolean },
  },
  computed: {
    _value: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      },
    },
  },
  data() {
    return {
      id: uniqueId('input-'),
    }
  },
}
</script>
